@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #374151;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

#page-header a {
  height: 80px;
  color: #c2410c;
  font-size: 3rem;
  margin-left: 30px;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 40px;
}

#page-main {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.infos {
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 30px 150px;
}

.elements {
  width: 150px;
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;
  gap: 20px;
}

.element {
  padding: 10px;
  background-color: #15803d;
  border-radius: 10px;
  color: #fff;
  height: 110px;
  width: 110px;
  position: relative;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mid-section {
  height: 100%;
  flex: 1;
  background-color: #4b5563;
  border-radius: 10px;
}

.element-drop {
  margin: 30px 100px;
  background: #374151;
  height: 150px;
  border-radius: 1 0px;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px 25px;
  border-radius: 50px;
}

.compounds {
  width: 200px;
}

.drag-over {
  border: 3px solid white;
}

.compound {
  height: 40px;
  background-color: #991b1b;
  color: white;
  border-radius: 10px;
  margin: 15px;
  line-height: 40px;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
}

.hidden {
  display: none;
}

.minus,
.remove {
  border-right: 1px solid #f3f4f6;
}

.minus,
.remove,
.plus {
  width: 100%;
  text-align: center;
  line-height: 15px;
  height: 15px;
  margin-top: 5px;
}

.remove {
  height: 15px;
  width: auto;
  padding: 0 6px;
}

.minus:hover,
.remove:hover,
.plus:hover {
  cursor: pointer;
}

.count {
  background-color: #52525b;
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
  margin: 2px;
  width: 36px;
  position: absolute;
  bottom: -15px;
  border-radius: 10px;
  text-align: center;
  left: calc(50% - 18px);
}

.completed {
  text-decoration: line-through;
  background-color: #881337;
}
